/*------------------------------------------Imports-------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500&display=swap');

/*------------------------------------------Globales-------------------------------------------------*/
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Mulish', sans-serif;
}

body{
  background-image: linear-gradient(-80deg,#AE2445,#4A0722);
}

.material-icons{
    margin-top: 5px;
    font-size: 26;
    color: #AE2445;
    cursor: pointer;
}

[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 10px;
  background-image: url(assets/x.png);
  background-size: 10px 10px;
}

.myHr{
  border: 1px solid #F5CAD6;
  margin-left: 5rem;
  margin-right: 5rem;
  
}

/*------------------------------------------Navbar-------------------------------------------------*/
.menu-bar{
  background-image: linear-gradient(-150deg,#AE2445,#4A0722);
}

.menu-bar.active{

}

.navbar-brand img{
    width: 150px;
    margin-left: 10rem;
}

/*------------------------------------------SearchBox-------------------------------------------------*/
.searchContainer{
    margin-right: 10rem;
    display: flex;
    align-items: center;
    width: 300px;
    height: 40px;
    background-color: #ffffff;
    padding: 0px 10px;
    border-radius: 50px;
    -webkit-box-shadow: 10px 10px 16px -13px rgba(0,0,0,0.7);
    -moz-box-shadow: 10px 10px 16px -13px rgba(0,0,0,0.7);
    box-shadow: 10px 10px 16px -13px rgba(0,0,0,0.7);
}

.search{
    border:none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 16px;
    color: #4A0722;
    font-weight: 500;
}

.search:focus{
    outline: none;
}

/*------------------------------------------Carousel-------------------------------------------------*/

.carousel {
    margin-bottom: 4rem;
}  
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

  /*------------------------------------------Cards-------------------------------------------------*/

  .myCard{
    border: none !important;
    background-color: #3d1023 !important;
    color: #ffffff;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.07);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.07);
  }

  .card img {
    max-height: 18rem;
    min-height: 18rem;
  }
  
  .row {
    margin-bottom: 20px;
  }
  
  .new-row {
    display: none;
  }
  
  .card-title{
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }

/*------------------------------------------Profile Card-------------------------------------------------*/

  .containerCard {
    position: relative;
    background-color: #fdfdfd;
    width: 220px;
    height: 220px;
    padding: 24px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 60px 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transition: width 0.4s, height 0.4s,
        border-radius 0.4s;
}

.containerCard:hover {
    width: 340px;
    height: 440px;
    border-radius: 4px;
}

.img-container {
    width: 170px;
    height: 170px;
    min-height: 170px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.2);
}

.img-container img {
    width: 100%;
    max-width: 100%;
}

.full-name {
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 16px;
}

.preferences,
.description {
    font-size: 1em;
    letter-spacing: 0.5px;
    line-height: 20px;
    text-align: center;
}

.preferences {
    padding-bottom: 8px;
    margin-bottom: 24px;
    border-bottom: 2px solid #4A0722;
}

.profiles{
  display: flex;
  justify-content: center;
}

.usersContainer{
  background-color: #f1dbe1;
  padding: 2rem;
}

.cinefilosText{
  color: #4A0722;
}